{% extends "web/master.html" %}

{% block title %}
About - Hinglish Dictionary
{% endblock %}


{% block content %}

<div id="border-about">
    <h1 id="abt-heading"><u>ABOUT</u></h1><br>
    <p id="about-para">
        This is a Website for Hinglish Dictionary. You Have to Enter Any Hinglish word in the Search box to Get appropriate English word for that Hinglish Word.
        It Also Include the English Dictionary. you can change between Dictionaries using Navigation Bar. <br>
        This Website is made as a Project by <strong><a href="https://www.linkedin.com/in/anmol-a081291b7" class="anmol">Anmol</a></strong>. 
    </p>
    </div>

{% endblock %}